{$SITE_ADDRESS} {
    tls internal
    redir / /web/ 302
    rewrite /web /web/
    rewrite /api /api/
    route /api/* {
	    uri strip_prefix /api
	    reverse_proxy example_api:8080
    } 
    route /web/* { 
        uri strip_prefix /web
        root * /var/www/static
        try_files {path} /index.html
	    file_server
    }
}